<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd  
                     http://www.springframework.org/schema/tx  
                     http://www.springframework.org/schema/tx/spring-tx.xsd  
                     http://www.springframework.org/schema/aop  
                     http://www.springframework.org/schema/aop/spring-aop.xsd ">

    <bean id="userService" name="userService" class="org.ligson.coderstar2.user.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="questionService" name="questionService"
          class="org.ligson.coderstar2.question.service.impl.QuestionServiceImpl">
        <property name="questionDao" ref="questionDao"/>
        <property name="questionTagDao" ref="questionTagDao"/>
        <property name="questionCategoryDao" ref="questionCategoryDao"/>
        <property name="categoryDao" ref="categoryDao"/>
        <property name="askDao" ref="askDao"/>
        <property name="rateDao" ref="rateDao"/>
        <property name="attentionQuestionDao" ref="attentionQuestionDao"/>
        <property name="sysTagDao" ref="sysTagDao"/>
    </bean>
    <bean id="questionAskService" name="questionAskService"
          class="org.ligson.coderstar2.question.ask.service.impl.QuestionAskServiceImpl">
        <property name="askDao" ref="askDao"/>
    </bean>
    <bean id="categoryService" name="categoryService"
          class="org.ligson.coderstar2.system.category.service.impl.CategoryServiceImpl">
        <property name="categoryDao" ref="categoryDao"/>
    </bean>
    <bean id="articleService" name="articleService"
          class="org.ligson.coderstar2.article.service.impl.ArticleServiceImpl">
        <property name="articleDao" ref="articleDao"/>
    </bean>

    <bean id="payService" name="payService"
          class="org.ligson.coderstar2.pay.service.impl.PayServiceImpl">
        <property name="withdrawDao" ref="withdrawDao"/>
        <property name="payOrderDao" ref="payOrderDao"/>
    </bean>

</beans>