<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                     http://www.springframework.org/schema/tx  
                     http://www.springframework.org/schema/tx/spring-tx.xsd  
                     http://www.springframework.org/schema/aop  
                     http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="org.ligson.coderstar2"/>


    <context:property-placeholder location="classpath:*.properties"/>
    <util:properties id="csConfig" location="classpath:cs-config.properties"/>
    <util:properties id="redisConfig" location="classpath:redis.properties"/>



    <bean id="sendCloudConfig" name="sendCloudConfig"
          class="org.ligson.coderstar2.system.mail.utils.SendCloudConfig">
        <property name="apiKey" value="${mail.sendcloud.apiKey}"/>
        <property name="apiUser" value="${mail.sendcloud.apiUser}"/>
        <property name="fromEmail" value="${mail.fromEmail}"/>
        <property name="appDomain" value="${appconfig.domain}"/>
        <property name="appName" value="${appconfig.name}"/>
    </bean>

    <!--数据源相关配置-->
    <import resource="spring-conf-data.xml"/>

    <!--系统初始化-->
    <bean id="bootstrap"
          class="org.ligson.coderstar2.system.conf.utils.Bootstrap">
        <property name="userService" ref="userService"/>
        <property name="sysCache" ref="sysCache"/>
    </bean>

    <!-- domain的配置 -->
    <import resource="spring-conf-domain.xml"/>

    <!-- dao的配置 -->
    <import resource="spring-conf-dao.xml"/>

    <!--service配置文件-->
    <import resource="spring-conf-service.xml"/>

    <!--redis配置-->
    <import resource="spring-redis.xml"/>

    <bean id="redisClient"
          class="org.ligson.coderstar2.system.redis.utils.RedisClient"
          init-method="init">
        <property name="shardedJedisPool" ref="shardedJedisPool"/>
    </bean>

</beans>
