<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd  
                     http://www.springframework.org/schema/tx  
                     http://www.springframework.org/schema/tx/spring-tx.xsd  
                     http://www.springframework.org/schema/aop  
                     http://www.springframework.org/schema/aop/spring-aop.xsd ">
    <bean id="article" name="article" class="org.ligson.coderstar2.article.domains.Article"/>
    <bean id="articleCategory" name="articleCategory" class="org.ligson.coderstar2.article.domains.ArticleCategory"/>
    <bean id="articleRate" name="articleRate" class="org.ligson.coderstar2.article.domains.ArticleRate"/>
    <bean id="articleTag" name="articleTag" class="org.ligson.coderstar2.article.domains.ArticleTag"/>
    <bean id="attentionArticle" name="attentionArticle" class="org.ligson.coderstar2.article.domains.AttentionArticle"/>
    <bean id="remark" name="remark" class="org.ligson.coderstar2.article.domains.Remark"/>
    <bean id="remarkRate" name="remarkRate" class="org.ligson.coderstar2.article.domains.RemarkRate"/>
    <bean id="remarkReply" name="remarkReply" class="org.ligson.coderstar2.article.domains.RemarkReply"/>
    <bean id="blockedFund" name="blockedFund" class="org.ligson.coderstar2.pay.domains.BlockedFund"/>
    <bean id="payOrder" name="payOrder" class="org.ligson.coderstar2.pay.domains.PayOrder"/>
    <bean id="tradeRecord" name="tradeRecord" class="org.ligson.coderstar2.pay.domains.TradeRecord"/>
    <bean id="withdraw" name="withdraw" class="org.ligson.coderstar2.pay.domains.Withdraw"/>
    <bean id="ask" name="ask" class="org.ligson.coderstar2.question.domains.Ask"/>
    <bean id="askReply" name="askReply" class="org.ligson.coderstar2.question.domains.AskReply"/>
    <bean id="attentionQuestion" name="attentionQuestion" class="org.ligson.coderstar2.question.domains.AttentionQuestion"/>
    <bean id="question" name="question" class="org.ligson.coderstar2.question.domains.Question"/>
    <bean id="questionCategory" name="questionCategory" class="org.ligson.coderstar2.question.domains.QuestionCategory"/>
    <bean id="questionTag" name="questionTag" class="org.ligson.coderstar2.question.domains.QuestionTag"/>
    <bean id="rate" name="rate" class="org.ligson.coderstar2.question.domains.Rate"/>
    <bean id="category" name="category" class="org.ligson.coderstar2.system.domains.Category"/>
    <bean id="sysTag" name="sysTag" class="org.ligson.coderstar2.system.domains.SysTag"/>
    <bean id="user" name="user" class="org.ligson.coderstar2.user.domains.User"/>

</beans>
