<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd  
                     http://www.springframework.org/schema/tx  
                     http://www.springframework.org/schema/tx/spring-tx.xsd  
                     http://www.springframework.org/schema/aop  
                     http://www.springframework.org/schema/aop/spring-aop.xsd ">

    <bean id="baseDao" class="com.boful.bmc2.dao.impl.BaseDaoImpl">
        <property name="sessionFactory" ref="mySessionFactory">
        </property>
    </bean>

    <bean id="userDao" class="com.boful.bmc2.dao.impl.UserDaoImpl"
          parent="baseDao">
    </bean>
    <bean id="bofulFileDao" class="com.boful.bmc2.dao.impl.BofulFileDaoImpl"
          parent="baseDao">
    </bean>
    <bean id="transcodeFileDao" class="com.boful.bmc2.dao.impl.TranscodeFileDaoImpl"
          parent="baseDao">
    </bean>

    <bean id="bofulFileService" class="com.boful.bmc2.services.impl.BofulFileServiceImpl">
        <property name="bofulFileDao" ref="bofulFileDao"/>
        <property name="systemConfig" ref="systemConfig"/>
        <property name="transcodeFileDao" ref="transcodeFileDao"/>
        <property name="transcodeService" ref="transcodeService"/>
    </bean>

    <bean id="userService" class="com.boful.bmc2.services.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean name="transcodeService" class="com.boful.bmc2.services.impl.TranscodeServiceImpl" init-method="init">
        <property name="systemConfig" ref="systemConfig"/>
        <property name="bofulFileService" ref="bofulFileService"/>
    </bean>
    <bean name="convertJob" class="com.boful.bmc2.jobs.ConvertJob">
        <property name="bofulFileService" ref="bofulFileService"/>
        <property name="transcodeService" ref="transcodeService"/>
    </bean>

    <bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="durability" value="true"/>
        <property name="jobClass" value="com.boful.bmc2.jobs.ConvertJob"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="bofulFileService" value-ref="bofulFileService"/>
                <entry key="transcodeService" value-ref="transcodeService"/>
            </map>
        </property>
    </bean>

    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"/>
        <property name="startDelay" value="1000"/>
        <property name="repeatInterval" value="2000"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="jobDetail"/>
            </list>
        </property>

        <property name="triggers">
            <list>
                <ref bean="simpleTrigger"/>
            </list>
        </property>
    </bean>

</beans>